In [9]:
import pandas as pd
import datetime as dt
import glob
import numpy as np
import re
from collections import Counter
import seaborn as sns
import matplotlib.pyplot as plt
from nltk.tokenize import RegexpTokenizer
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/javiercanalesluna/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [80]:
f = open("rayuela.txt", "r")
print(f.read(400))

Rayuela

JULIO CORTÁZAR


TABLERO DE DIRECCIÓN

A su manera este libro es muchos libros, pero sobre todo es dos libros.

El primero se deja leer en la forma corriente, y termina en el capítulo 56, al
pie  del  cual  hay  tres  vistosas  estrellitas  que  equivalen  a  la
palabra  Fin.  Por
consiguiente, el lector prescindirá sin remordimientos de lo que sigue.

El segundo se deja leer empezando

In [81]:
#create single string
strings = ' '.join(f)

In [82]:
#put in lowercase
palabras = strings.lower()

In [83]:
#create list
lista = palabras.split(" ")

In [84]:
#remove empty strings
important_words = list(filter(None, lista))

In [85]:
#remove /n
important_words2= list(map(str.strip,important_words))

In [86]:
# remove empty strings again
important_words3 = list(filter(None, important_words2))

In [87]:
# baxk to string format
important_words4 = str(important_words3)

In [ ]:
important_words4

In [89]:
# define punctuation
punctuations = '''!()--[]{};:'"\—,<>./¡¿?@#$%^&*_~'''

# To take input from the user
# my_str = input("Enter a string: ")

# remove punctuation from the string
no_punct = ""
for char in important_words4:
   if char not in punctuations:
       no_punct = no_punct + char

In [91]:
# create a bag of words
tokenizer = RegexpTokenizer('\s+', gaps=True)
words_tokens = tokenizer.tokenize(no_punct)

In [93]:
#remove stop words
words_tokens2=[]
for word in words_tokens:
    if word not in stopwords.words('spanish'):
        words_tokens2.append(word)

In [94]:
# count the most common words
word_count_dict = Counter(w for w in words_tokens2)

In [95]:
# convert bag of words to dic
most_common = dict(word_count_dict.most_common())

In [97]:
rayuela_words = dict()
# Iterate over all the items in dictionary and filter items with more than 20 appearances
for (key, value) in most_common.items():
   # Check if key is even then add pair to new dictionary
   if value > 20:
       rayuela_words[key] = value

In [98]:
#create dataframe
df = pd.DataFrame(data=rayuela_words, index=[0])

df = (df.T)

df

             0
dijo      1175
oliveira   909
si         609
maga       480
traveler   419
...        ...
plano       21
ocurre      21
sitio       21
pareció     21
artista     21

[642 rows x 1 columns]

In [99]:
df=df.reset_index()

In [102]:
df.columns=['palabra','frecuencia']

In [104]:
df.to_csv('palabras_rayuela.csv', index=False)