In [1]:
import pandas as pd
import datetime as dt
import glob
import numpy as np
import re
from collections import Counter
import seaborn as sns
import matplotlib.pyplot as plt
from nltk.tokenize import RegexpTokenizer
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/javiercanalesluna/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [27]:
f = open("cien_anos_de_soledad.txt", "r")

In [28]:
#create single string
strings = ' '.join(f)

In [30]:
#put in lowercase
palabras = strings.lower()

In [31]:
#create list
lista = palabras.split(" ")

In [32]:
#remove empty strings
important_words = list(filter(None, lista))

In [33]:
#remove /n
important_words2= list(map(str.strip,important_words))

In [34]:
# remove empty strings again
important_words3 = list(filter(None, important_words2))

In [35]:
# baxk to string format
important_words4 = str(important_words3)

In [37]:
# define punctuation
punctuations = '''!()--[]{};:'"\—,<>./¡¿?@#$%^&*_~'''

# To take input from the user
# my_str = input("Enter a string: ")

# remove punctuation from the string
no_punct = ""
for char in important_words4:
   if char not in punctuations:
       no_punct = no_punct + char

In [39]:
# create a bag of words
tokenizer = RegexpTokenizer('\s+', gaps=True)
words_tokens = tokenizer.tokenize(no_punct)

In [40]:
#remove stop words
words_tokens2=[]
for word in words_tokens:
    if word not in stopwords.words('spanish'):
        words_tokens2.append(word)

In [41]:
# count the most common words
word_count_dict = Counter(w for w in words_tokens2)

In [42]:
# convert bag of words to dic
most_common = dict(word_count_dict.most_common())

In [43]:
novela_words = dict()
# Iterate over all the items in dictionary and filter items with more than 20 appearances
for (key, value) in most_common.items():
   # Check if key is even then add pair to new dictionary
   if value > 20:
       novela_words[key] = value

In [50]:
#create dataframe
df = pd.DataFrame(data=novela_words, index=[0])

df = (df.T)

df

             0
aureliano  792
úrsula     512
arcadio    478
casa       459
josé       438
...        ...
jardín      21
begonias    21
usted       21
baúles      21
sabio       21

[518 rows x 1 columns]

In [51]:
df=df.reset_index()

In [52]:
df.columns=['palabra','frecuencia']

In [53]:
df.to_csv('cien_anos_de_soledad.csv', index=False)