In [51]:
import pandas as pd
import datetime as dt
import glob
import numpy as np
import re
from collections import Counter
import seaborn as sns
import matplotlib.pyplot as plt
from nltk.tokenize import RegexpTokenizer
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/javiercanalesluna/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [66]:
f = open("rayuela.txt", "r")
print(f.read(200))

Rayuela

JULIO CORTÁZAR


TABLERO DE DIRECCIÓN

A su manera este libro es muchos libros, pero sobre todo es dos libros.

El primero se deja leer en la forma corriente, y termina en el capítulo 56, al

In [67]:
strings = ' '.join(f)

In [68]:
palabras = strings.lower()

In [69]:
lista = palabras.split(" ")

In [70]:
important_words=[]
for word in lista:
    if word not in stopwords.words('spanish'):
        important_words.append(word)

In [83]:
important_words = list(filter(None, important_words))

In [74]:
important_words2= list(map(str.strip,important_words))

In [76]:
important_words3 = list(filter(None, important_words2))

In [84]:
important_words3[0:20]

['pie',
 'tres',
 'vistosas',
 'estrellitas',
 'equivalen',
 'palabra',
 'fin.',
 'por',
 'consiguiente,',
 'lector',
 'prescindirá',
 'remordimientos',
 'sigue.',
 'segundo',
 'deja',
 'leer',
 'empezando',
 'capítulo',
 '73',
 'siguiendo']

In [85]:
important_words4 = str(important_words3)

In [126]:
# define punctuation
punctuations = '''!()--[]{};:'"\—,<>./¡¿?@#$%^&*_~'''

# To take input from the user
# my_str = input("Enter a string: ")

# remove punctuation from the string
no_punct = ""
for char in important_words4:
   if char not in punctuations:
       no_punct = no_punct + char

In [127]:
# create a bag of words
tokenizer = RegexpTokenizer('\s+', gaps=True)
genres_tokens = tokenizer.tokenize(no_punct)

In [128]:
important_words5= [i.replace('—','') for i in genres_tokens]

In [129]:
important_words6=[]
for word in important_words5:
    if word not in stopwords.words('spanish'):
        important_words6.append(word)

In [130]:
# count the most common genres
word_count_dict = Counter(w for w in important_words6)

In [142]:
# convert bag of words to dic
dict_genres = dict(word_count_dict.most_common())

In [146]:
palabras_rayuela = dict()
# Iterate over all the items in dictionary and filter items which has even keys
for (key, value) in dict_genres.items():
   # Check if key is even then add pair to new dictionary
   if value > 20:
       palabras_rayuela[key] = value

In [147]:
df = pd.DataFrame(data=palabras_rayuela, index=[0])

df = (df.T)

df

             0
dijo      1175
oliveira   909
si         609
maga       480
traveler   419
...        ...
plano       21
ocurre      21
sitio       21
pareció     21
artista     21

[643 rows x 1 columns]

In [150]:
df.to_csv('palabras_rayuela.csv')